apiVersion: apps/v1
kind: Deployment
metadata:
  name: themis-executor
  labels:
    app: themis-executor
    name: themis-executor
  namespace: themis-executor
spec:
  replicas: 1
  selector:
    matchLabels:
      name: themis-executor
  template:
    metadata:
      labels:
        name: themis-executor
    spec:
      serviceAccountName: themis-executor
      containers:
        - name: executor
          image: k8loud/themis-executor:0.0.4.5
          imagePullPolicy: "IfNotPresent"
#          imagePullPolicy: "Always"
          env:
            - name: DATA_STORAGE_ROOT_PATH
              value: /tmp
            - name: DATA_STORAGE_REMOVAL_PERMITTED
              value: "true"
            - name: DROOLS_RULES_PATH
              value: /rules/rules.drl
            - name: DROOLS_QUERY_AND_PROCESS_FIXED_RATE_SECONDS
              value: "10"
            - name: HEPHAESTUS_URL
              value: http://hephaestus-gui.hephaestus.svc.cluster.local:8080
            - name: HEPHAESTUS_SELECTED_ENDPOINT
              value: /hephaestus/metrics/selected
            - name: KUBERNETES_MASTER
              value: https://149.156.10.138:6443
            - name: KUBERNETES_CA_CERT_DATA
              valueFrom:
                secretKeyRef:
                  name: themis-secrets-k8s
                  key: KUBERNETES_CA_CERT_DATA
            - name: KUBERNETES_CLIENT_CERT_DATA
              valueFrom:
                secretKeyRef:
                  name: themis-secrets-k8s
                  key: KUBERNETES_CLIENT_CERT_DATA
            - name: KUBERNETES_CLIENT_KEY_DATA
              valueFrom:
                secretKeyRef:
                  name: themis-secrets-k8s
                  key: KUBERNETES_CLIENT_KEY_DATA
            - name: DATA_STORAGE_ROOT_PATH
              value: /tmp
            - name: DATA_STORAGE_REMOVAL_PERMITTED
              value: "true"
            - name: MAIL_HOST
              value: poczta.int.pl
            - name: MAIL_PORT
              value: "587"
            - name: MAIL_ADDRESS
              value: listonoszpat@int.pl
            - name: MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: themis-secrets
                  key: MAIL_PASSWORD
            - name: OPENSTACK_USERNAME
              valueFrom:
                secretKeyRef:
                  name: themis-secrets
                  key: OPENSTACK_USERNAME
            - name: OPENSTACK_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: themis-secrets
                  key: OPENSTACK_PASSWORD
            - name: OPENSTACK_ENDPOINT
              value: https://api.cloud.cyfronet.pl:5000/v3
            - name: OPENSTACK_DOMAIN_NAME
              value: Default
            - name: OPENSTACK_DOMAIN_I_D
              value: default
            - name: OPENSTACK_PROJECT_I_D
              value: f3f4f2456fa54ec4836b6e5317480372
            - name: OPENSTACK_OPENSTACK_AUTH
              value: PROJECT_SCOPED
            - name: SERVICE_ENABLED_HEPHAESTUS
              value: "true"
            - name: SERVICE_ENABLED_DROOLS
              value: "true"
            - name: SOCKSHOP_LOGIN_USER_URL_SUPPLEMENT
              value: login
            - name: SOCKSHOP_REGISTER_USER_URL_SUPPLEMENT
              value: register
            - name: SOCKSHOP_CUSTOMERS_URL_SUPPLEMENT
              value: customers
            - name: SOCKSHOP_ADDRESSES_URL_SUPPLEMENT
              value: addresses
          resources:
            limits:
              cpu: 900m
              memory: 900Mi
            requests:
              cpu: 900m
              memory: 900Mi
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: rules-volume
              mountPath: /rules
      volumes:
        - name: rules-volume
          configMap:
            name: rules
