apiVersion: apps/v1
kind: Deployment
metadata:
  name: themis-executor
  labels:
    app: themis-executor
    name: themis-executor
  namespace: themis-executor
spec:
  replicas: 1
  selector:
    matchLabels:
      name: themis-executor
  template:
    metadata:
      labels:
        name: themis-executor
    spec:
      serviceAccountName: themis-executor
      containers:
        - name: executor
          image: k8loud/themis-executor:0.0.2.8-load-rules-dynamically
#          imagePullPolicy: "IfNotPresent"
          imagePullPolicy: "Always"
          env:
            - name: DATA_STORAGE_ROOT_PATH
              value: /tmp
            - name: DATA_STORAGE_REMOVAL_PERMITTED
              value: "true"
            - name: DROOLS_RULES_PATH
              value: /rules/rules.drl
            - name: HEPHAESTUS_URL
              value: http://hephaestus-gui.hephaestus.svc.cluster.local:8080
            - name: HEPHAESTUS_SELECTED_ENDPOINT
              value: /hephaestus/metrics/selected
            - name: KUBERNETES_MASTER
              value: https://149.156.10.138:6443
            - name: KUBERNETES_CA_CERT_DATA
              value: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURCVENDQWUyZ0F3SUJBZ0lJRTFGTVBRK0NZWkV3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TXpFeE1qWXhOak0xTkRaYUZ3MHpNekV4TWpNeE5qUXdORFphTUJVeApFekFSQmdOVkJBTVRDbXQxWW1WeWJtVjBaWE13Z2dFaU1BMEdDU3FHU0liM0RRRUJBUVVBQTRJQkR3QXdnZ0VLCkFvSUJBUURZQ3YvL05Hdm9KdkNqQWNqUWllK1JxNmNmSy80aVFtNFI0NEQ4WFpoTk1UQzFQYURQNDM1aE5yOGYKbnVEaU0ydWUrbmVnZnRrSm5WUUY3YXZWN2RZTk5Zcm5KZmtPU3ZJR3hzRzRKL1pPZkRzLy9pWWw2OE5pdklxRQpLVit0TWVxMlFKQ1lYbkRuOGhLcEx6a0R3WCt0bnhnZXhVS29Kc0JMK0FocUY1amV1M0hZU2dVMGhzQ0o1KzZmCnlubDlLSEpOWXZ2Q1I0ZWZLeU5ZY20zczZOVm1pS0FPTCtlSjd5NWhwMHBUOXdvVHgrU2ZrMWZ0SG9VTWIyZFcKTHNKZWRaVTREbjd5cGsrZk1yNWlyS3F3UzdJQzRYZFlBbEtGTU9UeVVuK1o1YlN0L2xnaHE3VmJnUnZrQ1oveAptL3BBYm1aa3pMdDBZY0hvWmRLNWJWZmFhQ290QWdNQkFBR2pXVEJYTUE0R0ExVWREd0VCL3dRRUF3SUNwREFQCkJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXQkJUWWppOTh2MG9kdnpxSk9UN3haaHZaYnhCNTREQVYKQmdOVkhSRUVEakFNZ2dwcmRXSmxjbTVsZEdWek1BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQkJVdmllcEZhOAp2YUdIK094bzd4S3NlQTF4U3lVQWdxT2dLaHVDY0hGRVV1NHVWQUR0Mm1ZTlBRSkpnWUhKNDl4WWFiUTFHWVBaCnhCaFU4b2VLVlY0QzdxdHE2aDZUU0hSTmtnNFpWamp5bVJsL0VKai9YZHhmRWZHcXZjZ3hOTFZ5cXRiQjUvT3oKUmpEbkpzM0FqaFVPVkczdUlnK3RwbkpLZzdRakVuTk8vM01qeWdYMENSWXJyTHNMYnE4anJiSTdHcm9qZndGeQpZZlFHZU05cjZtVlUrd1Q1UGtsSTRjajhkenRNNVg4VmdTNVpxMjZWZmxSdUZERU14MnRrb2hnR2xPZm9CbzZaCnlVVDhZenBpdDNiT1p2OW85bEliYlhpVUdLZlh3elRvL2R3YnoyWXM1S1RJRWY1dnZvc0V1a1h0UU02TzVJWFQKL1g3ZkNEK1dTODZhCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
            - name: KUBERNETES_CLIENT_CERT_DATA
              value: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJVENDQWdtZ0F3SUJBZ0lJYUJXUFA3eldRZHN3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TXpFeE1qWXhOak0xTkRaYUZ3MHlOREV4TWpVeE5qUXdOVEZhTURReApGekFWQmdOVkJBb1REbk41YzNSbGJUcHRZWE4wWlhKek1Sa3dGd1lEVlFRREV4QnJkV0psY201bGRHVnpMV0ZrCmJXbHVNSUlCSWpBTkJna3Foa2lHOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQXdSU0J2VTB5QjRQRStrbzYKSVEzRE5RUGJIQ3ZpT3JvaDZScTQ1ZDlDS1BVeWtscmdtdk5aWXZiN3VIRDRvajZsUVJBZmlNdjlGNmZReTdVMwpaWWlrMmlrLzBNVVprY0RzZWhwV0d5RGxYZjU4SnhYZ09VNGEzTkhRemNWZmUyUVhVTzdrV0dWdGlqOHhZenFNCjZtZjRrWWQ2UlBBQ1kyUlh6aWttcHA5SmRQcVdncjBKWExqMTA2ZmlVM0p3VDVBMlRqYkUrN090Nnp4VFpsaEoKaGt1b0NWWDRqS3QzM1pJZVhuNTltLytxV1BZL28wa2JvQjEyZ0FKb29ISm5kUzVCZkpsZ0lJSXJlQkMxVFhabQpOQSt4YjBMVEFnUXBwL1RyUjkxcSt3U2JrQ1l0U2swWkZUNStDbTRGNUlGeEk5Yk5LWC8zOEN6TitONk5KMHlBCnQwK2k3d0lEQVFBQm8xWXdWREFPQmdOVkhROEJBZjhFQkFNQ0JhQXdFd1lEVlIwbEJBd3dDZ1lJS3dZQkJRVUgKQXdJd0RBWURWUjBUQVFIL0JBSXdBREFmQmdOVkhTTUVHREFXZ0JUWWppOTh2MG9kdnpxSk9UN3haaHZaYnhCNQo0REFOQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBbE53anUybm5FRU82MHdhRm92SUNQdUw0TTg4SUR0VUptTHZWCkJoaldnWnJBMEx5eE5GOUtHMXVqaUh3MW9LaTBEUDhQRitUQnJCL1A3d3pqYXNaOGY4TkZ1c0Z3dmxKRkZGMGEKODRKOWsxVjBha2c3VGdhbVQ4Uml5VkN2elFLTHJ1bTNLRGxVNW0yd0d0cnB3cHJFM01vWWUyZVVQN1JncDk4awpzM1FDTm0xN1lQOU5NKzl4TzVnMnB1MGxKM3lJaDZZdGYxSzVZcGEwaW5rc2FMYXlDd2xqdWdSaUZLRlBIT2FLCitYeExqMTZUaUFYQnBMdjI0bENoUXQzbWw3cEk2RFU1MGtXYXBJRThLSWlIU0Y2OEp2ajVVTm1GZ2hrQ1NNZmEKQ1JGVjFlaGg1blBFR1hTaXRoMHRiVTZHaXRwSmpYUHc1MG9NeW1UcExWK2NMdHcySXc9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
            - name: KUBERNETES_CLIENT_KEY_DATA
              value: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcFFJQkFBS0NBUUVBd1JTQnZVMHlCNFBFK2tvNklRM0ROUVBiSEN2aU9yb2g2UnE0NWQ5Q0tQVXlrbHJnCm12TlpZdmI3dUhENG9qNmxRUkFmaU12OUY2ZlF5N1UzWllpazJpay8wTVVaa2NEc2VocFdHeURsWGY1OEp4WGcKT1U0YTNOSFF6Y1ZmZTJRWFVPN2tXR1Z0aWo4eFl6cU02bWY0a1lkNlJQQUNZMlJYemlrbXBwOUpkUHFXZ3IwSgpYTGoxMDZmaVUzSndUNUEyVGpiRSs3T3Q2enhUWmxoSmhrdW9DVlg0akt0MzNaSWVYbjU5bS8rcVdQWS9vMGtiCm9CMTJnQUpvb0hKbmRTNUJmSmxnSUlJcmVCQzFUWFptTkEreGIwTFRBZ1FwcC9UclI5MXErd1Nia0NZdFNrMFoKRlQ1K0NtNEY1SUZ4STliTktYLzM4Q3pOK042TkoweUF0MCtpN3dJREFRQUJBb0lCQUZ1RmRlNGVYbDJUaDFaQQp3d2NSOS9yMFJmTTNsZmZTYk9xS3dTUXRUTFlQYkJaVnYydVRlRVpoM25YU0R2a1JDdElwYTFrem9GZUxNM3lyCi9JTkRYeWtPTG5LdVN1MTg3bHIraXR3M0hxSU1WQnRPMGtjM2o2SW1UbnlMVnpRdEFLUmJhSi9DREVkZ3B1OXIKUElxTUdCWWJpc2lNb0FVdTlqUUI2NUZGcGRNdGRpazMveWhDU2h6Z2tzc2d6bTJmVWhFRSt1TGN3WkhlK1lGVgpZdmVESGpMcEZGRitYWGp1ZkJFcWpGalBTaEhwSGdPazMvNW4yN0dpZnhUbmZRajJsSXRYbDNDbUFBZ2pNc1E2CkZsMTNJWHJUOFBHYTBTQVdsVGt2dVJYcEdkMUMxR2psQjNweVdLZkpkSEZRSldmMlZBMHhnTEZRU2pnSmM5RFEKZlZYWUVka0NnWUVBNXRnZVgxem5tRUVCUWZrK0lYdzBQK2Z3L3AxZVM4ZC9iakFZMFp6elVtYlJiZjVWTC96ZwpRUkxMNmQyRUdPNTNsaGZUbllUWk1MendkQTlNRlJJYlR5aU5ZcEczS2ZaS0I5a0ljOG10cGhuMk5qemtUcUhrCkROOXg4cHllR2diY3hCclhrWkhzbUR5dXdWb2hnRFExTXRiU05IRS9QakFuV1hrME5aUHZydHNDZ1lFQTFoN2gKSmNwT2hnUnE0aVkxVVNORGtvUzBsTTBzejNjRjQ1NXY0NGRjaGZFc2VuTGp1L0JBOVJzdjdvV0lteDg2NmxnUwpBU3lFRUVpUnZVS0EwSHZaVnQzVTV4RVRnTEd2cFRYa01HZ0wrRDkxTE9lMGFoZStxaFN2aFRYK2lzZUtTUGwwCklCWlNDNC9YYVUzNUk4R1BLT3JPcmFTTUhDZW05ZU54ZHorVVpuMENnWUVBbGNHVzBwN2V6L003OGFUVUhiMEoKMkh1TDZHSUhEbm81dlM0T3E4MTZQUGJlM3RDa1N5RnVDa2s3YUZpQW5mdjJNTFQ4WDdBVGhuN01MejdOU000YQpVVndwZk15eld0R2diVDdyTU5LaGlLUkhDaUN1ckNSeVliZURvTFRpREZodlYvbGg1OW9XOXh4RzhzQ2FBeVhiCmJVUFgwcFcxUlk3UHVFZmRDdlVTQlFrQ2dZRUF6U2lsUFpwTUJxanc2R01IcndpRTFEeUc4aFJ0SFJQRDlzWjIKR3FJMkNyaDhqNDdKbWVlbnRiSXBDUGUxWGp4Y0xQSFp2bm95eDQ5ZzVPQjFvRTBxZjhycEZjVU0xTUJydFhhZgpmNm9SM2ZpZmd6azNhbmY1M2VrWURDRWlGVUwvd3RBUmJqVTB3NU05S003bktsVnBvQ0RyaXdFZ3BsRnY3aVhSCk1Cc2hTOWtDZ1lFQWpKaFRkUEpkWW0vV1hxRytPTVk2ZHZVR0RlZWdsdzRtYU5SdmE1WjJRRGlEZTJFcTRnY2gKZzFqeklVSXU0cDRRekhpWmVkSElSSjh1WjZycEVyUEhVTXRnRGhhSldTaXhmM2FCbGRDTTZsZE5ianVZaUNpVgo0WE5rUGYxQTBQRTBpeXJrcGNQOXhKZkVQYTNCazlHTC8vNldMcytEa09XL012dHBheVB2Qk9VPQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQo=
            - name: OPENSTACK_USERNAME
              value: plgppycia
            - name: OPENSTACK_PASSWORD
              value: ladCesFaythoatmisfunoofItoabVilk
            - name: OPENSTACK_ENDPOINT
              value: https://api.cloud.cyfronet.pl:5000/v3
            - name: OPENSTACK_DOMAIN_NAME
              value: Default
            - name: OPENSTACK_DOMAIN_I_D
              value: default
            - name: OPENSTACK_PROJECT_I_D
              value: f3f4f2456fa54ec4836b6e5317480372
            - name: OPENSTACK_OPENSTACK_AUTH
              value: PROJECT_SCOPED
            - name: SERVICE_ENABLED_HEPHAESTUS
              value: "true"
            - name: SERVICE_ENABLED_DROOLS
              value: "true"
            - name: SOCKSHOP_LOGIN_USER_URL_SUPPLEMENT
              value: login
            - name: SOCKSHOP_REGISTER_USER_URL_SUPPLEMENT
              value: register
            - name: SOCKSHOP_CUSTOMERS_URL_SUPPLEMENT
              value: customers
            - name: SOCKSHOP_ADDRESSES_URL_SUPPLEMENT
              value: addresses
          resources:
            limits:
              cpu: 900m
              memory: 900Mi
            requests:
              cpu: 900m
              memory: 900Mi
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: rules-volume
              mountPath: /rules
      volumes:
        - name: rules-volume
          configMap:
            name: rules