apiVersion: apps/v1
kind: Deployment
metadata:
  name: themis-executor
  labels:
    app: themis-executor
    name: themis-executor
  namespace: themis-executor
spec:
  replicas: 1
  selector:
    matchLabels:
      name: themis-executor
  template:
    metadata:
      labels:
        name: themis-executor
    spec:
      serviceAccountName: themis-executor
      containers:
        - name: executor
          image: k8loud/themis-executor:0.0.2.4-drools-services-failing-to-start
          imagePullPolicy: "IfNotPresent"
          env:
            - name: RULES_PATH
              value: /rules/test.drl
            - name: HEPHAESTUS_URL
              value: http://hephaestus-gui.hephaestus.svc.cluster.local:8080
            - name: KUBERNETES_MASTER
              value: https://149.156.10.131:6443
            - name: KUBERNETES_CA_CERT_DATA
              value: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURCVENDQWUyZ0F3SUJBZ0lJTTNxaXpROTAxS0l3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TXpFeE1ERXhOakV6TlRWYUZ3MHpNekV3TWpreE5qRTROVFZhTUJVeApFekFSQmdOVkJBTVRDbXQxWW1WeWJtVjBaWE13Z2dFaU1BMEdDU3FHU0liM0RRRUJBUVVBQTRJQkR3QXdnZ0VLCkFvSUJBUURCMzF0MHpJaTlsQVNJWnRuTzQ3dnhRcUhKbjY4MHpoWlh2VUR0cUM1d0JTaDdHaWdscHo3emF4RzMKZzhiM0RndVJvdlFRYzdzR3dEUkxwQUNEb2RPbjJxUVdwd3U1cDBNYkVacnZ1b2tJaG44eWZBYndxalBEclFQUApQb1Z0a2VTbCt3Y3UrSTN2Z2taa1F6ZXlPZmJZdjVORkphNGlBbTF5YnBmZWdpc01hTkc3cFVHRkhtbGxNeUtBCm5MWXRSWlYreHFuVVE0ZHVySGNWY1ZQN2NnNENlbnIyNE9GS0J1Qk83MkVMNEdsUHJ6N1dzM2JPRXNDcGhkSjIKbk51VlBHRFlKRkVSSVV2U0VGaC9hbCtMQjE2NEpsekFlWENzMlZyK3BiN2NzVWJ0N2R1bkozSkp1UjdZYXJwNQo1S2Ruc1AvNGhQTHFDKzVId0syKzdqMzBtTWVsQWdNQkFBR2pXVEJYTUE0R0ExVWREd0VCL3dRRUF3SUNwREFQCkJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXQkJTbmt4NkhadkE2QTZBNGM2VWMzenNTeUJrcEVUQVYKQmdOVkhSRUVEakFNZ2dwcmRXSmxjbTVsZEdWek1BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQXNkTVpsM1FWZwpNNWR0VWRUa05aaE1wMnUycnI2SmhycFRMZFNUUGV2SHNPek1RaGZKN2hsZHYrSHNZMi9wN3FQeVVFcjVvZ0hkCmZUa0MzYSt5TXVTQWZla1lmQ3hJd1dOZG9TN2NUMHlBWmUzaGkwZFpuaFRWcjJjZUpvQ24rTzNKVjNENkFwSFoKVzdoQnlFakxndE9STklDdWNvWEp2YmxYWGdnMGpxQ1dybWMvSTZMazJ2WUZ4WGRvTkRIdmNTSGVwRjNNaFJWQgplRTNKK2FkTFNRM2pzM1p5c3cySVAycyt4azZEY3V4SUV4YkwyejdYallwcjJzT2hnTTQzbG1odkpiY3Y1NGdDCklieWtnRWF3VS9nbHdUbmd4QXVBSHJLVjN4dlg2T1NpcXBiZnFDakdWREZNODNIR3RJRWhEYXEyV3lRM05Da24Ka012bmZ2STdNZHltCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
            - name: KUBERNETES_CLIENT_CERT_DATA
              value: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJVENDQWdtZ0F3SUJBZ0lJYlNBeUVVTWFHUHd3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TXpFeE1ERXhOakV6TlRWYUZ3MHlOREV3TXpFeE5qRTVNREphTURReApGekFWQmdOVkJBb1REbk41YzNSbGJUcHRZWE4wWlhKek1Sa3dGd1lEVlFRREV4QnJkV0psY201bGRHVnpMV0ZrCmJXbHVNSUlCSWpBTkJna3Foa2lHOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQXd4K3crRGtlMVplanpkK3UKRDB1dWp0cStiU05McTBmbnFkN2NiYTBHQVlyaXZaUENGZ3J0Z2dPNmFQaEF3TVp1RW1lV25GSElIT05rQjdXcAo5QlpReDltbjl4eVp0UlRTWEVOa3ozYTUvd1lqU3U1dFdGNnlhcGpzVzh2UW1UVlBKNExlTktndHNxcnl6aC81CkdSK2VBS1lIRTlLWGErbTM1YXpSa0FtdmNnNWFoZDBMTVVNNWsrdGZsRFluOU1VZ3NNQkU3SFhXMkFBemc2T2EKYnlKM0JPVktkdmowR0JialBMZElHQ3FqdjRUVG84UG1IajBhdE9DVDlkbGFGMkFub054d0sxd1YxNFVQTnhiNQpHWWY4bEtPNDVtZkNQQ01mWTNkeC84VThIc2l0ak02SU1kOHcwSXJOcms3WW5lVkxjQ0FraUlmRHVGRHBsZlZvCjNYRkNQd0lEQVFBQm8xWXdWREFPQmdOVkhROEJBZjhFQkFNQ0JhQXdFd1lEVlIwbEJBd3dDZ1lJS3dZQkJRVUgKQXdJd0RBWURWUjBUQVFIL0JBSXdBREFmQmdOVkhTTUVHREFXZ0JTbmt4NkhadkE2QTZBNGM2VWMzenNTeUJrcApFVEFOQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBY0VreVR0RG1JUWdBSVNvSTNBYWpVdmJwYTdQOTkwWkNwRHpRCmNVa0VLamtMQ2tvYytlR3NPcnFBVmRQVFk5ck11aHlKeTZqSHJrSVA0bGZXdVFiMFBTbXpaaGZhZnlSOXVPK3UKaVdTdE1FU0V0aGcxTTJ3NGo2VmM2ckhtcFVQUlRKL2l1bnhyNXlPa01ib2JuaUVKdkMwSUFJYWY1S21ScjBkUQpFNy84MW5KUWZYMkZIYVptaW55dXZCQk9LS2dKU0cycmZ1S0JFTlNiRFFjNXR5MmY4Z0hiTHRWcmg1WG1UWlZSCmVFYUpCdGM5U1M1aWU1bVYzLzVDWG5hRGVZckJrK0YvL1I2WWFhbW5BZW9STCtiRWVlUmdFSWhGOW5YVUwyaHgKTHVjRGVmRWlXcjdrdjJnUEVqTkIyWUhFTlZGYUg4TUZGaU5SdUpaRkZEeVRNcVJPSFE9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
            - name: KUBERNETES_CLIENT_KEY_DATA
              value: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcFFJQkFBS0NBUUVBd3grdytEa2UxWmVqemQrdUQwdXVqdHErYlNOTHEwZm5xZDdjYmEwR0FZcml2WlBDCkZncnRnZ082YVBoQXdNWnVFbWVXbkZISUhPTmtCN1dwOUJaUXg5bW45eHladFJUU1hFTmt6M2E1L3dZalN1NXQKV0Y2eWFwanNXOHZRbVRWUEo0TGVOS2d0c3FyeXpoLzVHUitlQUtZSEU5S1hhK20zNWF6UmtBbXZjZzVhaGQwTApNVU01ayt0ZmxEWW45TVVnc01CRTdIWFcyQUF6ZzZPYWJ5SjNCT1ZLZHZqMEdCYmpQTGRJR0NxanY0VFRvOFBtCkhqMGF0T0NUOWRsYUYyQW5vTnh3SzF3VjE0VVBOeGI1R1lmOGxLTzQ1bWZDUENNZlkzZHgvOFU4SHNpdGpNNkkKTWQ4dzBJck5yazdZbmVWTGNDQWtpSWZEdUZEcGxmVm8zWEZDUHdJREFRQUJBb0lCQVFDM2E0VUo4WGdBeEtrZwprQkdwSXpXVjZCNTFyV1ltUGxPUkpZUUVQVStXQjU2Wkl0cWhxZWdWL2JjdmtaNGRHT3JEdGtpbjdXQzFkelBDCjQ0dzlmUFMyeU8zUnB6citNL0tDOUg5QlhwUDlIU0gwQUNrZGx2Y1VxV2dWNm9QT1lZUmsyZXBUaVh4YnBjTFUKN00xV1JwaGFkN2ZUZEhVTzVnY09pZVA5Q0gyNk1naGcxWU5tYy8rU1E3c280VWR2dEovSXBNOFNqbFlQaURUWApiejJpZkdjUGVwL0JxU24ybjRncnNDWG54eHZZb0dKcU95cmtkL2VxL0ZBRHFudDJKSC96Z0JQYkVDODJ4SUh5CnF0ZGpHY2cwSDZqRGp4OWJsRnhYa2ZFK1lxYmY1bEJhVHFUZmxIcmtNV3hjeVl2WnR0bGRnMXVmNFVWdG9QYi8KQVVjbkNVa1JBb0dCQU1UTE5ZbVFCc2E2eGJXb2wxakxQbkh0OGdUVHhEZXZEOCtUVy9sbGVJcGV4dDR0bW5raQpRMWtXUWNBNkVuMzNiZml1Tm9yQ1JWL3QyWGhqTGo0cTNpZXBSV0ltcTl6NHV1b3Y1dGFLU0RXVCthZ0NjaDltCkdUUXRybGw1eFZlK1pVUjRFUHdKbDRwdjF0Y0R4dnFISEhOV1BBSVppR0U3WGVzTEJ5bUV0cC85QW9HQkFQM1QKM0paRUVMdTVxUHlBeUR6V043VGRPMWNVSkZXUEw4akNaU1VWQmtzY1lDcE1DcFZqeGVYd1ZsdTZrY1ZDbVZjUQpIN0N1SkdBRXlUWmlSOGYwMmlMbjlRbHZMT3o4N1JCaEJGeUM5ZmFJYkUvOWFveTU2bmlERHhRTkFwOEMramY0CkxocnBrWlRmU3dETjlkdi9hM1ZvYnl1NFVoMDBjWVpiOU5oN1JvbnJBb0dBZVVubFRVdC9ZYXhyZm5MU0ZOL3YKTkxpNm1VOExlR1psRUVKNlJWUE0zenRheGtURkdET04zckpoQStERzFPeFMweHBNYzJrWTZPN25RZE9mQktIWApHZ3F4d0xTazZDUkV6MkdHbkdQTjdYZXVQMmFDZitlbFVRdDJrWjhEaWZqRzRWUSs0NWZsMW1UbnZNMlBMWWxvCmQ0MkducVN0OFg5dGV4Zm82aVhwaU9FQ2dZRUFtTng2UDlTRjcwZ0VTT3lWcW0ybjVyaEZBRkFWQWFIVnVTVzUKRy9mcGJscU1YMnlrQXd1dkpxYnlteE5rcmxOSlhYRk1aRzY3WVVnQWxVdml4cnppa1pyM3F0TFZUM09Tb1FhTQpSZHBvbml2U2J1bkN2VFZKeTRIQ0Z1VXU2dXcwSEhqTjYwODJhVjJBSWQvbmJMSUoyUThueEVDZzB3MitRSmdvCmdDYmRlRGtDZ1lFQWdMZkpqRFQ4dTlsUEFmY21GY2ZCclNJUlpMUGdQSHd5dHZ3emhlVGZKWDJUREE4QkFoOFQKOUdmWkNRR2pabnk0Zm5QOWQvczBUalBVUktkanpjOWx5cjRpK29SbUl3WnZ3bmdDckRLR1ExdjlhekttU0NBQQpEKzRCQlFMcjJ4Rk9rNDlzUnh5RUZmRTBobDdMNVBiRHlaRlZMWEhML0xQd3o4eTZmaUlmcjY4PQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQo=
            - name: DATA_STORAGE_ROOT_PATH
              value: /tmp
            - name: DATA_STORAGE_REMOVAL_PERMITTED
              value: "true"
            - name: OPENSTACK_USERNAME
              value: plgppycia
            - name: OPENSTACK_PASSWORD
              value: ladCesFaythoatmisfunoofItoabVilk
            - name: OPENSTACK_ENDPOINT
              value: https://api.cloud.cyfronet.pl:5000/v3
            - name: OPENSTACK_DOMAIN_NAME
              value: Default
            - name: OPENSTACK_DOMAIN_I_D
              value: default
            - name: OPENSTACK_PROJECT_I_D
              value: f3f4f2456fa54ec4836b6e5317480372
            - name: OPENSTACK_OPENSTACK_AUTH
              value: PROJECT_SCOPED
            - name: SERVICE_ENABLED_PROMETHEUS_QUERY
              value: "true"
            - name: SERVICE_ENABLED_RULE
              value: "true"
          resources:
            limits:
              cpu: 900m
              memory: 900Mi
            requests:
              cpu: 900m
              memory: 900Mi
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: rules-volume
              mountPath: /rules
      volumes:
        - name: rules-volume
          configMap:
            name: executor-rules-cm