name: Build and Test

on:
  pull_request:

jobs:
  build:
    name: Build and Run Tests
    runs-on: ubuntu-latest
    # Permissions block is optional, useful for dependabot checks
    permissions:
      checks: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: maven
      - name: Build and Run Tests
        run: mvn test --batch-mode --fail-at-end -DthemisExecutorVersion=1.0.0-SNAPSHOT
      - name: Publish Test Report
        if: success() || failure()
        uses: scacap/action-surefire-report@v1
